@import "~materialize-css/dist/css/materialize.min.css";

.logo {
  height: 400px;
  width: 400px;
}

input.blue-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.blue-input + label {
  color: #fff!important;
}

input.blue-input:focus + label {
  color: #039be5!important;
}

input.blue-input:focus {
  border-bottom: 1px solid #039be5!important;
  box-shadow: 0 1px 0 0 #039be5!important;
}